@import "./var.scss";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin reseta ($color) {
  &:link {
    color: $color;
    text-decoration: none;
  }
  &:hover {
    color: $color;
    text-decoration: none;
  }
  &:visited {
    color: $color;
    text-decoration: none;
  }
  &:active {
    color: $color;
    text-decoration: none;
  }
}

@mixin section-title {
  font-size: $section-title-size;
  color: $section-title-color;
}

@mixin item-title {
  font-size: $item-size;
  color: $item-color;
  font-weight: $item-weight;
}

@mixin item-description {
  font-size: $description-size;
  color: $description-color;
}

@mixin list-border {
  border-top: $list-border;
  &:first-child {
    border-top: none;
  }
}

@mixin mt-list-border {
  border-top: 1px solid $mt-border-color;
  &:first-child {
    border-top: none;
  }
}

@mixin errMsg {
  font-size: 12px;
  color: red;
}
