$main-red: #C52C24;
$weixin-green: #11CD6E;

$border-color: rgb(240, 240, 240);
$mt-border-color: #CBCBCB;  // border color of mint-ui input component

$card-border-color: #CBCBCB;

$list-border-color: rgb(240, 240, 240);
$list-border: 1px solid $list-border-color;
$list-padding: 5px;

$section-margin: 15px;
$section-title-size: 15px;
$section-title-color: rgb(170, 170, 170);

$item-size: 15px;
$item-color: #494949;
$item-weight: 500;

$description-size: 12px;
$description-color: #aaa;

$less-important-color: #ccc;
$horizontal-margin: 18px;

$form-label-color: #484647;
$form-placeholder-color: #A7A5A6;

// 豆瓣颜色参考
// 图标色
$douban-icon-red: #FF2944;
$douban-icon-blue: #0673DE;
$douban-icon-yellow: #FF992E;
$douban-icon-green: #2BAF4B;
$douban-icon-purple: #696AD7;
$douban-icon-orange: #FF6D3B;

// 参考色
$douban-green: #148222;
$douban-orange: #F5B973;
$douban-blue: #F5B973;

$global-background-color: #f7f7f7; // !将全局背景颜色应用到需要的组件中去, 而不是应用到全局

$tabbar-height: 53px;
$content-height: calc(100vh - #{$tabbar-height});

$female: #EE676A;
$male: #3AA6Eb;
